.nav-button {
        display: block; 
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1000;
        margin-right: 15px;
    }

.primary-navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        background-color: #222;
        padding-top: 5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        z-index: 999;
        display: none; 
    }

.primary-navigation.is-open {
        transform: translateX(0);
    }

.nav-list a {
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        border-bottom: 1px solid #444;
    }

.nav-div {
        display: flex;
        align-items: center;
        /* Na mobilu chceme, aby logo a menu/hledání byly na koncích */
        width: auto; 
    }

.search-button {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 1000;
        padding: 0;
    }