body {
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: #E5FFC7;
    color: #5D4B4B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    color: #5D4B4B;
    text-decoration: none;
    font-size: 1.5rem;
    font-family:cursive;
}

.nav-button {
    display: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 20px;
}

.nav-list a {
    color: #5D4B4B;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #110e0e;
}

.nav-div {
    display: flex;
    align-items: center;
}

.primary-navigation {
    display: block; 
}

.search-section {
    margin-left: 20px;
    display: flex; 
    align-items: center;
}

.search-button {
    display: none;
}

.search-bar {
    display: flex;
}

.search-input {
    padding: 8px;
    border: 1px solid #5D4B4B;
    border-radius: 4px 0 0 4px;
}

.search-submit {
    padding: 8px 15px;
    background-color: #FFC7C5;
    color: #5D4B4B;
    border: 1px solid #FFC7C5;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}